@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000000;
  --secondary-color: #fffff2;
  --primaryLight-color: #bfbfbf;
}
html {
  scroll-behavior: smooth;
  background-color: #000000;
}
.slick-prev,
.slick-next {
  display: none !important;
}
