@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #17141a;
  --secondary-color: #fffff2;
  --primaryLight-color: #bfbfbf;
  
}

html {
  scroll-behavior: smooth;
}

